kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
nodes:
- role: control-plane
  image: ghcr.io/mesosphere/kind-node:${LATEST_KIND_IMAGE_TAG}-with-mindthegap
  extraMounts:
  - hostPath: ${KIND_FILES_DIR}/default-hosts.toml
    containerPath: /etc/containerd/certs.d/_default/hosts.toml
  - hostPath: ${BOOTSTRAP_REGISTRY_DIR}/bootstrap-images.tar
    containerPath: /registry-data/bundle.tar
- role: worker
  image: ghcr.io/mesosphere/kind-node:${LATEST_KIND_IMAGE_TAG}-with-mindthegap
  extraMounts:
  - hostPath: ${KIND_FILES_DIR}/default-hosts.toml
    containerPath: /etc/containerd/certs.d/_default/hosts.toml
containerdConfigPatches:
- |-
  [plugins."io.containerd.grpc.v1.cri".registry]
    config_path = "/etc/containerd/certs.d"
kubeadmConfigPatches:
- |
  apiVersion: kubelet.config.k8s.io/v1beta1
  kind: KubeletConfiguration
  nodeStatusMaxImages: -1
